<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oxycert</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag 'oxycert.png', width: '128', height: '32'%></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">How it works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#FAQ">FAQs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><button class="btn btn-warning" href="blah">Log in</button></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
           <div class="header-content-inner">
                <h1>Finally, documentation made for the 21<sup>st</sup> century</h1>
                <hr>
                <p>Getting the Medical Necessity documents you need doesn't have to be painful. <br>
                </br>All you need is an internet connection.</p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Simplicity & security are the name of the game</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Simple signing</h3>
                        <p class="text-muted">Referring physicians can sign on any laptop, desktop, or mobile device.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Process referrals faster</h3>
                        <p class="text-muted">Our software lets you focus on the patient, not their paperwork.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Kiss faxes goodbye</h3>
                        <p class="text-muted">We make doing business with you so simple, who wouldn't?</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>HIPAA compliant</h3>
                        <p class="text-muted">Some services won't promise security. It's our most important job.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <section class="no-padding" >
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'portfolio/6.jpg',:class => 'img-responsive' %>
                        <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    HIPAA compliant, bank-level security
                                </div></br>
                                <div class="project-name">
                                    From Business Associate Agreements to physicial safeguards and data encryption, we keep  </br>your patients - and business - safe.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'portfolio/2.jpg',:class => 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Time is money
                                </div></br>
                                <div class="project-name">
                                    We help you process each patient faster, allowing you to focus on running your business
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'portfolio/3.jpg',:class => 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Save a tree or two
                                </div></br>
                                <div class="project-name">
                                    Fax machines are so 1991.... <br> Say goodbye forever and get your documentation digitally!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'portfolio/4.jpg',:class => 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Thrill your referring agencies
                                </div></br>
                                <div class="project-name">
                                    Over 90% of clinications say they prefer digital over paper. Send and recieve your most critical documents in a way that is a pleasure to recieve!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'portfolio/5.jpg',:class => 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Wirlessly, painlessly 
                                </div></br>
                                <div class="project-name">
                                    Cloud-based, never anything to download or install. <br>We're built for today's medicine.   
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag 'portfolio/1.jpg',:class => 'img-responsive'%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Sign on any device
                                </div></br>
                                <div class="project-name">
                                    Laptop, desktop, iPhone, or tablet - all they need is an email address, internet connection, and a mouse or touchscreen
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We know Medical Necessity!</h2>
                    <hr class="light">
                    <h3 class="text-faded">We're built for one thing: making getting your CMS484 documents quick and super simple, just for Oxygen suppliers</h3>
                </br><h4><li>One click to send and recieve your medical necessity documentation.</li>
                    <li>Monitor all your documents in a simple to understand dashboard</li>
                    <li>Requires just an e-mail address for the recipient</li>
                    <li>Fast, secure, and reliable</li>
                </h4>
                
                    <a href="/documents/new" class="btn btn-success btn-xl">Try the Free live demo!</a>
                    </br>

<br><p> *Not a free trail - just send yourself a document! For real! </p>
                

                <a href="#pricing" class="btn btn-default btn-xl page-scroll">Forget the demo, How much is it?</a></div>
            </div>
        </div>
    </section>



<section class="bg-dark" id="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Frequently Asked Questions</h2>
                    
                    <h3><strong>Can't we just send these documents over email?</strong></h3>
                <h4>Only if you can guarantee that both your email provider, and the email provider of the recipient confirms with HIPAA and Medicare regulations - most do not.  With our platform, the important stuff is done on our servers - where we know everything is nice and secure.</h4></br>
                <h3><strong>What format is the document stored in?</strong></h3>
                <h4>Documents are avaialble for download or printing in PDF format</h4></br>
                    <h3><strong>How do you get the document to the signer?</strong></h3>
                <h4>You provide an email address of the intended recipient when completing the document.  An email containing a secure link to the document is sent to the recipient you designate.</h4></br>
                    <h3><strong>Is this HIPAA Compiant?</strong></h3>
                <h4>Yes.  We have all the appropriate physical, administrative, and security safeguards to comply with the most recently update HIPAA/HITECH regulations and monitor our compliance reguarly.  If we find an issue, we fix it - simple as that.</h4></br>
                
                                    <h3><strong>How is this different than .....?</strong></h3>
                <h4>We're the only HIPAA Compliant, Medicare Compliant document management platform built specifically for oxygen suppliers on the internet.  Look closely, no one else does this.</h4></br>
                                    <h3><strong>Do we need to sign a Business Associate Agreement (BAA)?</strong></h3>
                <h4>Yes. A Business Associate Agreement is signed during the registration process.</h4></br>
                                    <h3><strong>Will you sign my BAA?</strong></h3>
                <h4>Typically, yes. We will review each Business Associate Agreement on a case by case basis.  Email a copy to <a class="inverse" href="mailto:me@anydomainname.com">info@oxycert.com</a> for review.</h4></br>
                                    <h3><strong>What is the contract length?</strong></h3>
                <h4>Both Annual and Monthly subscriptions are available, no contracts needed.</h4></br>                    
                <h3><strong>How long to do you keep my documents?</strong></h3>
                <h4>90 days.  This should allow you ample time to print or download them. Documents older than 90 days are deleted.</h4></br>

                <h3><strong>Is this Medicare Compliant?</strong></h3>
                <h4>Absolutely.  There are two important factors that decide whether it is compliant: <br><br>1) The method of signature capture. <br>  Our signature capture technology captures an exact image of the signer's drawn signature.  Typed names, or automatically generated signatures do not comply with this regulation.  Further reading at (##WWW.) <br><br>2)The way the certification is presented. <br> The form must be presented in it's entireity, exactly the way Medicare created it. We're the only platform that allows for that.</h4></br>
                <h3><strong>I need another feature, can you build it for me?</strong></h3>
                <h4>Sure.  Send your request to <a class="inverse" href="mailto:me@anydomainname.com">info@oxycert.com</a>.  We prioritize our feature list by number of requests.  Need it faster than that?  We offer custom development as well on a per hour basis.</h4></br>
                <h3><strong>This is nice, but I've got another document I need to send?</strong></h3>
                <h4>Drop us a line at <a class="inverse" href="mailto:me@anydomainname.com">info@oxycert.com</a>.  We'd love to hear more about the problem.</h4></br>
            </div>
        </div>
    </section>
    <aside class="bg-primary" id="pricing">
        <div class="container text-center">
            <div class="call-to-action">
                <h3>$29/month</h3><p> per user</p>
                <h4> - Unlimited Documents <br>
                    - Easy to understand dashboard <br>
                    - No downloads, no installation <br>
                    - Up and running in 2 minutes
                </h4>
                <a href="#" class="btn btn-default btn-xl wow tada">Get Started Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Have a specific need, or want more information?  Drop us a line and we'll be glad to help!</p>
                </div>
                <div class="col-lg-4 col-lg text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:info@oxycert.com">info@oxycert.com</a></p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
