<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Index Page</h4>
      </div>
      <div class="modal-body">
        <center><p>This is where you'll manage all your documents. </br>Signed documents show up in green - go ahead, click one!</p></center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<div class="container">
<table>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Patient DOB</th>
      <th>Requested On</th>
      <th>Physician</th>
      <th>Completed</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <tr class="success">
        <td><%= document.patient_name %></td>
        <td>09/10/1990</td>
        <td><%= document.created_at.strftime("%b %d %Y at %I:%M %p") %></td>
        <td>Dr. James Brown</td>
        <td><%= image_tag('checkmark.png') %></td>
        <td class="tdlinks"><%= link_to 'Open PDF',  document %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %><%= image_tag('trash.png', width: '18', height: '16')%></td>
      </tr>
          <% end %>
  </tbody>
</table>
</div>
</div>
<center>
<%= image_tag('plus.png', width: '16', height: '16')%> <%= link_to 'New Document', root_path %>
</center>
<br>
<br>

